body{
  font-family: 'Mulish', sans-serif;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  color: #1F1534;
  font-weight: bold;
}

li{
  list-style: none;
}
.link-style{
  font-weight: bold;
}
.btn-primary{
  background-color: #458FF6;
}
.btn{
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  min-height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-w-md{
  max-width: 200px;
  width: 100%;
}
.header-bacground{
  background-color: rgba(255, 255, 255, 0.979);
}
.header-content{
  padding-top: 177px;
  position: relative;
}
.header-decor{
  position: absolute;
  left: -108px;
}
.header-title{
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}
.header-discription{
  margin: 25px 0px 45px 0px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}
.services-wrapper{
  padding-bottom: 221px;
  padding-top: 192px;
}
.services-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.services-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin: 0;
}
.services-border{
  margin-top: 26px;
  margin-bottom: 33px;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}
.services-description{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7D7987;
}
.services-card__section{
  background-image: url(img/card-wrapper-bg.svg);
  background-repeat: no-repeat;
  background-position: 1190px 294px;
  position: relative;
}
.services-card__background{
  position: absolute;
  z-index: -1;
  top: -250px;
  left: -400px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 34px;
  margin: 0 50px 0 50px;
  
}
.services-item{
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 40px;
}
.services-item_top{
  height: 100px;
  display: flex;
  align-items: center;
}

.services-item_body{
  padding: 166px 0 0 37px;
  position: relative;
}
.services-item_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}
.services-item_text{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
.services-btn__wrapper{
  text-align: center;
}
.sectionm-mb--md{
  margin-bottom: 200px;
}
.section-welcome{
  background-image: url('./img/element.svg');
  background-repeat: no-repeat;
  background-position: 20% 150px;
}
.section-services{
  background-image: url('./img/element.svg');
  background-repeat: no-repeat;
  background-position: 20% 150px;
}


.section-heading.section-heading--center{
  text-align: center;
}
.section-heading.section-heading--center .section-heading_title:after{
  margin-left: auto;
  margin-right: auto;
}
.section-heading_title{
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.section-heading_title:after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  left: 0px;
  right: 0px;
}
.section-heading_description{
  margin-top: 20px;
  margin-bottom: 0px;
}

.btn-styles {
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  min-width: 200px;
  width: 100%;
  color: #458FF6;
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
}



.margin-m {
  margin: 0 auto;
}

.main-title {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}
.main-title-white {
  font-weight: bold;
  font-size: 36px;
  color: white;
}

.main-description {
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
}

.line-black {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 33px;
}

.line-white {
  width: 56px;
  height: 2px;
  background: white;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 33px;
}

.container-mb--md {
  margin-bottom: 200px;
}

.bg-blue {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

}

.footer-p-all {
  padding: 100px;
}

.footer-text {
  color: white;
}

.ttt {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #5A98F2;
}

.flex {
  display: flex;
}

.x-between {
  display: flex;
  justify-content: space-between;
}

.trafalgar {
  margin: 0;
}

.div-t {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.footer-list-gap {
  display: grid;
  gap: 10px;
}

.previewer {
  padding-top: 40px;
  padding: 80px 120px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  margin-bottom: 200px;
}


.y-center {
  display: flex;
  align-items: center;
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



.x-center {
  display: flex;
  justify-content: center;
}



.previewer-mx-md {
  margin: 0 110px 0 30px;
}

.previewer-description {
  max-width: 420px;
}

.previewer-span {
  display: flex;
  flex-direction: column;
}

.previewer-name {
  font-weight: bold;
  font-size: 22px;
}

.article-img-w {
  max-width: 350px;
}

.text-gray {
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
  margin: 0;
}

.title-black {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  margin: 0;
}

.article-card-body {
  padding: 24px 100px 10px 30px;
}

.article-text-p {
  padding-top: 12px;
  padding-bottom: 25px;
}

.article-btn {
  margin-top: 100px;
  margin-bottom: 200px;
}

.previewer-absolute {
  background-image: url('./img/previewer-img.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.bg-element {
  background-image: url('./img/bg-element.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.article-bg-element {
  background-image: url('./img/article-bg-element.svg');
  background-repeat: no-repeat;
  background-position: right top;
}